<div class="border border-info shadow p-3 mb-5 bg-white rounded">
    <h2>Reviews</h2>
    <% if (editMode){ %>
        <%- include('./edit.ejs') %>
    <% } else { %>
        <%- include('./show.ejs') %>
    <% } %>
</div>


