<% if (currentUser) { %>

    <div class="border border-danger mb-3 shadow-lg p-3 mb-5 bg-white rounded">
        <h2>Leave a review</h2>
        <form action="/campgrounds/<%= campground.id %>/reviews"
                method="POST"
                class="validated-form"
                novalidate>
            <div class="mb-3">

                <fieldset class="starability-slot">
                    <legend>Rating:</legend>
                    <input type="radio" id="no-new-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="new-rate1" name="review[rating]" value="1" />
                    <label for="new-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="new-rate2" name="review[rating]" value="2" />
                    <label for="new-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="new-rate3" name="review[rating]" value="3" />
                    <label for="new-rate3" title="Average">3 stars</label>
                    <input type="radio" id="new-rate4" name="review[rating]" value="4" />
                    <label for="new-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="new-rate5" name="review[rating]" value="5" />
                    <label for="new-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label for="body">Review</label>
                <textarea name="review[body]"
                        id="body"
                        cols="30"
                        rows="5"
                        class="form-control" required></textarea>
                <div class="valid-feedback">
                    Thanks!
                </div>
                <div class="invalid-feedback">
                    Please leave your thought about the camp!
                </div>
            </div>

            <button class="btn btn-info text-white">Submit</button>
        </form>
    </div>
<% } %>

